<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="guest" password="guest"
                               requested-heartbeat="3" connection-timeout="5000"/>
    <rabbit:admin connection-factory="connectionFactory"/>



    <!--声明消息队列-->
    <!--说明：
            durable:是否持久化
            exclusive: 仅创建者可以使用的私有队列，断开后自动删除
            auto_delete: 当所有消费客户端连接断开后，是否自动删除队列-->
    <rabbit:queue id="test_queue_key" name="test_queue_key" durable="true" auto-delete="false" exclusive="false"/>

    <!--交换机定义-->
    <rabbit:direct-exchange name="test-mq-exchange" durable="true" auto-delete="false" id="test-mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="test_queue_key" key="test_queue_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>
    <!--说明：
                rabbit:direct-exchange：定义exchange模式为direct，意思就是消息与一个特定的路由键完全匹配，才会转发。
                rabbit:binding：设置消息queue匹配的key-->

    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener queues="test_queue_key" ref="queueListener"/>
    </rabbit:listener-container>

   <!-- <bean id="queueListener" class="webDemo.mq.listener.QueueListener"></bean>-->
</beans>